---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a class="link m-1 hover:bg-base-300 rounded-lg border-inherit border-dotted py-2 px-4 bg-base-100" href={`/tags/${tag}`}>
            {tag}
          </a>
        </p>
      ))
    }
  </div>
</BaseLayout>
