---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="my-4 mx-0 text-2xl">Subtitle</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus
    molestie nunc sit amet tempus. Donec quis nibh dui. Suspendisse venenatis at
    lacus vitae vehicula. Integer orci nulla, malesuada nec ante ut, porta
    tristique urna. Duis semper accumsan hendrerit. Duis molestie velit ut
    mauris lacinia, vitae fermentum nunc placerat. Mauris at consequat nisl.
    Pellentesque arcu orci, imperdiet eget lacinia id, malesuada in leo.
    Vestibulum euismod dolor ipsum, et tincidunt neque volutpat non. Praesent
    faucibus sapien et velit condimentum, ac venenatis nunc fringilla. Aenean
    aliquet mauris sapien, sed viverra ex faucibus vel. Nunc suscipit sagittis
    nulla, nec aliquam lorem convallis in. Cras in massa eget libero malesuada
    dictum a vitae ligula. Pellentesque sit amet dui pharetra, sodales ligula
    ut, suscipit nisl. Morbi cursus luctus lobortis. Vivamus purus dolor,
    pretium vel tempor in, rutrum ut nisl. Aenean commodo consectetur porta.
    Morbi et nisi dui. Nulla cursus nisi sit amet est ultrices blandit. Orci
    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Suspendisse tempus sodales lacus, eu consectetur turpis dictum quis. In
    hac habitasse platea dictumst. Nulla vitae congue nisl. Morbi congue dictum
    ultrices. Integer eget libero ac augue venenatis ultricies. Etiam fermentum
    lectus et magna scelerisque, et pharetra massa ornare. Vivamus rhoncus enim
    orci, at aliquam orci porta a. Sed in nulla non est hendrerit pellentesque.
    Nullam gravida elit ac gravida fermentum. Donec tincidunt est sed aliquam
    volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Vivamus feugiat felis quis sapien suscipit, vel tincidunt odio porttitor.
    Vestibulum blandit purus justo, vel sollicitudin mi pretium non. Ut in justo
    consectetur, posuere lectus non, auctor turpis. Nulla lacinia luctus neque
    in pharetra. Maecenas egestas, eros at posuere varius, diam tellus maximus
    nulla, ac sagittis elit nibh quis lectus. Pellentesque ultrices congue elit,
    id bibendum leo porta id. Vivamus ut mauris ut risus eleifend rutrum.
    Suspendisse id scelerisque mi. Morbi dui dui, vulputate ac massa nec,
    gravida malesuada magna. Cras faucibus urna sit amet dui semper, id congue
    risus porttitor. Pellentesque vel neque vitae ligula tempus aliquam eget nec
    mi. Ut at tempor mauris. Pellentesque egestas eros ac augue cursus interdum.
    Ut non sapien metus. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia curae; Nunc in nibh pulvinar, sollicitudin urna et,
    rutrum lectus. Nullam rhoncus placerat mi id vehicula. Maecenas in luctus
    massa. Quisque eu tempus justo, nec ultricies augue. Fusce iaculis porta
    libero, vitae aliquam dolor venenatis cursus. Duis cursus nisi ex. Phasellus
    sagittis varius diam id consequat. Suspendisse congue erat ut varius auctor.
    Duis gravida ullamcorper velit, sed tincidunt mi tincidunt et. Pellentesque
    sed porta magna. Phasellus nisl dui, vestibulum vitae odio a, vulputate
    feugiat metus. Curabitur ut justo non turpis fringilla efficitur. Vestibulum
    pretium augue nec quam pulvinar imperdiet. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Pellentesque non orci consectetur, placerat lacus ut, ornare sem. Nunc at
    dolor ornare nunc finibus mollis et nec diam.
  </p>
</BaseLayout>
