---
import Container from "@components/Container.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import CV from "@components/CV.astro";

const pageTitle = "Resume";
const pdfTitle = "View or Download a PDF of my Resume";
---

<BaseLayout pageTitle={pageTitle}>
  <Container>
    <h1 class="mb-4 mx-0 text-lg text-primary font-semibold underline decoration-double underline-offset-4">{pageTitle}</h1>

    <CV /></Container
  >
</BaseLayout>
