---
const { title, url, current = false } = Astro.props;
---

<a
  class="block mx-4 px-2 py-1 rounded-lg hover:bg-primary hover:bg-opacity-10 text-lg font-medium"
  href={url}
  aria-label={title}
  role="menuitem"
  aria-current={current ? "page" : undefined}
>
  {title}
</a>