---
import "../styles/global.css";
const { pageTitle } = Astro.props;

import { ViewTransitions } from "astro:transitions";
---

<script is:inline>
  // Check for system color scheme preference
  const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
  
  // Get stored theme or use system preference, defaulting to corporate (light)
  const getStoredTheme = () => {
    const storedTheme = localStorage.getItem("theme");
    if (storedTheme) return storedTheme;
    return systemPrefersDark ? "night" : "winter";
  };

  // Set the theme
  document.documentElement.setAttribute("data-theme", getStoredTheme());
</script>

<script>
  import { themeChange } from "theme-change";
  themeChange();
</script>

<!-- Rest of your head content -->


<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />



<meta name="description" content="Astro description" />


<link href="../../prism.css" rel="stylesheet" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />
<title>{pageTitle}</title>
