---
const { title = "Jason\u00A0Gannon", url = "/", current = Astro.url.pathname === "/", ...props } = Astro.props;
---

<a
  class="block p-2 rounded-lg hover:bg-primary hover:bg-opacity-10 text-3xl font-bold"
  href={url}
  aria-label={title}
  role="menuitem"
  aria-current={current ? "page" : undefined}
>
  {title}
</a>
