---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import Head from "../components/head.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <Head />
  <body class="box-border h-screen my-o mx-auto leading-6 p-4">
    <Navbar />
    <main class="p-5 flex-column mx-auto mb-auto w-full max-w-screen-lg">
      <h1 class="my-4 mx-0 text-4xl">{pageTitle}</h1>
      <slot />
      <Footer />
    </main>
  </body>
</html>
