---
import BaseLayout from "./BaseLayout.astro";

import "@styles/copyCode.css";
import H1 from "@components/Heading1.astro";
const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;

---

<script>
  import copyCode from "@utils/CopyCode.mjs";
  copyCode();
</script>
<BaseLayout pageTitle={frontmatter.title}>

    <article
      class="prose prose-md dark:prose-invert prose-headings:text-primary prose-a:text-primary max-w-none"
    >
      <div class="not-prose mb-8">
        <H1 pageTitle={pageTitle}/>
        <div class="flex gap-4 text-sm">
          <p>{frontmatter.pubDate.toString().slice(4, 15)}</p>
        </div>
      </div>

      <slot />
    </article>
</BaseLayout>
